body {
    background-color: blueviolet;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-areas: 
"a a b"
"a a b"
"c c b"
"c c b";
height: 100vh;
}

.info {
    background-color: #1D1E24;
    width: 100%;
    grid-area: a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.green {
    width: 100%;
    height: 100%;
    background-color: #04EC37;
    grid-area: b;
}

.white {
    background-color: white;
    grid-area: c;
}

button {
    width: 200px;
    margin-top: 5%;
}

input {
    
    text-align: center;
}

#bmi {
    text-align: center;
}

input[type="range"] {
    width: 80%;
    overflow: hidden;
    background-color: #04EC37;
    accent-color: #04EC37;
}

input[type="number"] {
    border-radius: 10px;
    border-color: aqua;
    width: 40px;
}

img {
    position: absolute;
    width: 600px;
    right: 5%;
    top: -20%;
}